// API account nompweb@google.com
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDFcthZi-bpah22cukdXby2x8x_-G1WaT4&sensor=false&language=en')
-var jsLibPath = "/javascripts/lib/"
script(src='http://code.jquery.com/jquery-1.11.1.js')
script(src=jsLibPath + 'bootstrap.min.js')
script(src=jsLibPath + "jasny-bootstrap.min.js")
script(src=jsLibPath + 'jquery-ui-1.10.4.min.js')
script(src=jsLibPath + 'jquery-ui-timepicker-addon.js')
script(src=jsLibPath + 'sigma.min.js')
// script(src=jsLibPath + 'sigma.parsers.json.min.js')
// script(src=jsLibPath + 'paper-full.js')
script(src='/javascripts/plugins.js')
script(src='/javascripts/locationPlugin.js')
script(src='/javascripts/mapPlugin.js')
script(src="/javascripts/graphPlugin.js")
block foot