head
  meta(charset='tf-8')
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

  title= pkg.name + ' - ' + title
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  
  // favicon
  link(rel="icon", type="image/x-icon", href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAADuqgAA6KIzAAAAAAD9//8A6KIAAP///wD0uh0A7KIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIiIiIiIiIiIiIiIiIiIiIiIiVVVVVSIiIiVVVVFVUiIiVFVVFBVVIiVRFVUUFVVSJVFlV0VBVVIlUUVRBRFVUiVVEVR1EVVSJVUXV1VUFVIlVRFHVVEVUiJVUXdVUxEiIiVVFVVVUiIiIlVVVVUiIiIiIiIiIiIiIiIiIiIiIiLwDwAA4AcAAMADAACAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAQAAwAMAAOAHAADwDwAA")

  //Style
  -var cssLibPath = "/stylesheets/lib/"
  link(rel="stylesheet", href=cssLibPath + "bootstrap.min.css")
  link(rel="stylesheet", href=cssLibPath + "font-awesome.min.css")
  link(rel="stylesheet", href=cssLibPath + "jasny-bootstrap.min.css")
  link(rel="stylesheet", href=cssLibPath + "jquery-ui.min.css")
  link(rel="stylesheet", href="/stylesheets/style.css")