head
  meta(charset='tf-8')
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

  title= pkg.name + ' - ' + title
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")

  //Style
  -var cssLibPath = "/stylesheets/lib/"
  link(rel="stylesheet", href=cssLibPath + "bootstrap.min.css")
  link(rel="stylesheet", href=cssLibPath + "font-awesome.min.css")
  link(rel="stylesheet", href=cssLibPath + "jasny-bootstrap.min.css")
  link(rel="stylesheet", href=cssLibPath + "jquery-ui.min.css")
  link(rel="stylesheet", href=cssLibPath + "bootstrap-switch.css")
  link(rel="stylesheet", href="/stylesheets/style.css")
