extends layout

block content
  // nav tabs
  .row(style="margin-bottom: 15px;")
    ul.nav.nav-pills
      li(class=req.route.path === '/'  ? 'active' : '')
        a(href="/") Online Generation
      li(class=req.route.path === '/offline' ? 'active' : '')
        a(href='/offline') Offline Generation
      li(class=req.route.path === '/queries' ? 'active' : '')
        a(href="/queries") Quries
      - if (req.path.split('/')[1] === 'results')
        - var path = req.path.split('/')
        - var origin_path = req.path.split('/')
        - if (path[path.length-1] === 'map')
          - var from = req.path
          - path[path.length-1] = 'graph'
          - var to = path.join('/')
          li(class=origin_path[path.length-1] === 'map' ? 'active' : '')
            a(href=from) Results
          li(class=origin_path[path.length-1] === 'graph' ? 'active' : '')
            a(href=to) Graph
        - else
          - var from = req.path
          - path[path.length-1] = 'map'
          - var to = path.join('/')
          li(class=origin_path[path.length-1] === 'map' ? 'active' : '')
            a(href=to) Results
          li(class=origin_path[path.length-1] === 'graph' ? 'active' : '')
            a(href=from) Graph
  block subContent