extends _layout

block subContent
  #queriesList.panel.panel-default
    .panel-heading
      strong 
    .panel-body
      .row
        .col-md-7
          form#query-form(action='/offline/run', method='post' role="form")
            input(type='hidden', name='_csrf', value="#{csrf_token}")
            input#geocode(type='hidden', name='geocode', value=req.body.geocode)
            fieldset.query-data
              legend Load Your Dataset
              .col-md-12
                .form-group
                  label(for="description") Description
                    sup.required-field *
                  input#description.form-control(type='text', name='description', placeholder='Description of Query', value=req.body.description, required)
                .form-group
                  label(for="upload") Upload File
                    sup.required-field *
                  .col-md-9
                    input#offline-file.form-control(type='file', name='offline_file', placeholder='Please upload your json file')
                  .col-md-3
                    input#offline-file-upload.form-control.btn.btn-primary(type='button', value='upload')
                  br
                  br
                .form-group
                  label(for="start_date") From
                    sup.required-field *
                  input#start_date.form-control.input-date(type='text', name='start_date', placeholder='From', value=req.body.start_date, required)
                .form-group
                  label(for="end_date") To
                    sup.required-field *
                  input#end_date.form-control.input-date(type='text', name='end_date', placeholder='To', value=req.body.end_date, required)
                .form-group
                  label(for="location") Location
                    sup.required-field *
                  input#address.form-control(type='text' name='location' placeholder='Location', value=req.body.location, required)
                .form-group
                  label(for="radius") Radius of Location (km)
                    sup.required-field *
                  input#radius.form-control(type='number' name='radius' placeholder='Radius of location - Number only', value=req.body.radius, required)
            fieldset.query-data
              legend Graph Generation
              .col-md-12
                .form-group
                  label(for="dt") δt (ms)
                    sup.required-field *
                  input#dt.form-control(type='number' name='dt', min="0", placeholder='δt - Number Only', value=req.body.dt, required)
              .col-md-12
                .form-group
                  label(for="r") R (km)
                    sup.required-field *
                  input#r.form-control(type='number' name='r', min="0", placeholder='R - Number Only', value=req.body.r, required)
              .col-md-12
                .form-group
                  label(for="n") Number of Frames
                    sup.required-field *
                  input#input-frame-number.form-control(type='number' name='n', min="1", placeholder='Number of frames - Number Only', value=req.body.n, required)
              .col-md-12
                .form-group
                  a#btnRun.btn.btn-primary Run
        .col-md-5
          .row
            fieldset.query-data
              legend Dashboard
              .event-message
              .col-md-9
                .event-output
              .col-md-3
                .event-count
          .row
            .col-md-12
              .check-frames
          //.row
            //filedset.query-data
              //legend Load your dataset
