extends _layout

block subContent
  #queriesList.panel.panel-default
    .panel-heading
      strong List of queries
    table.table.table-condensed.table-bordered
      thead
        th Description
        th Period
        th Events
        th Params
        th Created Date
        th Actions
      tbody
        - for query in queries
          tr
            td
              a(href='/results/' + query.results_id + '/graph')=query.description
            td
              ul
                li= 'From: ' + query.start_date
                li= 'To: ' + query.end_date
            td= query.events
            td
              ul
                li= 'δt: ' + query.dt + 'ms'
                li= 'R: ' + query.r + 'km'
            td= query.created_date
            td
              a(href='/queries/delete/' + query._id)
                span(class="glyphicon glyphicon-trash text-danger")
              &nbsp;&nbsp;&nbsp;
              a(href='/queries/export/' + query._id)
                span(class="glyphicon glyphicon-floppy-save")
